body {
    display: flex;
    margin: 0px;
    justify-content: center;
    height: 100vh;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

.numbers {
    display: flex;
}

.numbers, .controls, #finishCalculation, #clearAll, #positiveAndNegative, #addFloatingPoint {
    flex: 1 25%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
}
.controls {
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}

#positiveAndNegative, #addFloatingPoint, #clearAll, #finishCalculation {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

#backspace {
    height: 70px;
    width: 70px;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    flex-shrink: 1;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
}

#display {
    background-color: rgb(255, 255, 255, 0.25);
    height: 70px;
    font-weight: bold;
    font-size: 50px;
    text-align: right;
    margin-bottom: 20px;
    align-content: center;
    flex-grow: 1;
}

.displayPanel {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.calculator {
    width: 600px;
    height: 670px;
}